#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* height: 100vh; */
  /* background-color: rgba(26, 82, 142, 1);
    background-image: linear-gradient(to top, #304667, #041f4c);
    background: linear-gradient(to top, #304667, rgba(66, 16, 100, 0.6)),
      url(../image/cloude.png) no-repeat right 0; */
  background-color: #f6f1e3;
  /* padding: 8rem 0 8rem; */
  min-height: 100vh;
  width: 100%;
}

.pokemon-detail {
  text-align: center;
  width: 41%;
  background-color: #fcfcfc;
  border-radius: 20px;
  padding: 4rem 0;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pokemon-detail .name {
  font-size: 2rem;
  font-weight: bold;
  color: #746b4a;
}

.pokemon-detail .detail-img {
  width: 20%;
  border: 1px solid #8d7e49;
  margin: 1rem 0;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 2%;
}

.pokemon-detail .characteristic {
  color: #282828;
}

.pokemon-detail .go-back-btn {
  position: absolute;
  top: 31%;
  left: 68.4%;
  transform: translate(-50%);
  background-color: #484848;
  /* width: 35px; */
  /* height: 35px; */
  border: none;
  border: 1px solid #484848;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
  padding: 0.4rem 0.8rem;
}

.pokemon-detail .go-back-btn:hover {
  background-color: #fff;
  color: #000;
}

.pokemon-list {
  /* max-width: 1400px; */
  width: 100%;
  width: 1400px;
  margin-top: 11%;
}

.pokemon-list h1 {
  /* color: #ffc400;
    list-style: none;
    padding-left: 0px;
    text-align: center;
    margin-top: 0;
    font-size: 3rem;
    font-weight: bold; */
  /* padding-top: 5rem; */
}

.pokemon-list .order {
  font-size: 0.9rem;
  color: #b0a48b;
  position: absolute;
  top: 5%;
  left: 5%;
}

.main-tit {
  text-align: center;
  color: #4c411a;
  font-size: 3rem;
  font-weight: bold;
}

.pokemon-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin-top: 3rem;
  padding-bottom: 9rem;
}

.pokemon-cont li {
  position: relative;
  background-color: #fcfcfc;
  width: 24%;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  color: #6e623c;
  font-weight: bold;
  font-size: 1.1rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 18px;
  box-sizing: border-box;
}

.pokemon-cont li:hover {
  transform: scale(1.05);
}

.pokemon-cont li:nth-child(4n) {
  margin-right: 0;
}

.pokemon-detail {
  text-align: center;
  margin: 29vh 0;
}
.pokemon-name {
  font-size: 2rem;
  font-weight: bold;
  color: #ffc400;
}

.main-cha {
  border: 1px solid gray;
  padding: 3rem;
  margin: 1rem 0;
  transition: 0.2s;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.main-cha:hover {
}

.s-cha {
  border: 1px solid #e8e8e8;
  padding: 1rem;
  margin-right: 1%;
  background-color: #fafafa;
  transition: 0.2s;
  margin-top: 3rem;
}
.s-cha:last-child {
  margin-right: 0;
  margin-top: 1%;
}
.s-cha:hover {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
}
.abilities > div {
  margin-right: 5px;
}

/* ***********************login 페이지************************* */
.Login {
  /* background-color: #f5f5f9;
    width: 100%;
    height: 100vh;
    padding-top: 23vh; */
  padding: 12rem 0;
}
.login-cont {
  background-color: #fcfcfc;
  width: 20%;
  margin: 0 auto;
  padding: 1rem;
  /* text-align: center; */
  padding: 3.5rem 3rem 5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 10px;
}

.forgot-pass {
  position: absolute;
  right: 0;
  top: 0;
  color: #696cff;
  font-size: 0.8rem;
}

.password-wrap {
  position: relative;
}
.fontawesome-eye {
  position: absolute;
  right: 2%;
  padding: 5px;
  /* border: 1px solid red; */
  top: 37%;
  cursor: pointer;
}
.Login .pokemon-logo {
  width: 43%;
  display: block;
  margin: 0 auto 2rem;
}

.Login h2 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.Login p {
  font-size: 1rem;
}
.Login form {
  margin: 2rem 0 1.3rem;
}
.Login form input {
  width: 100%;
  padding: 0.6rem 0.2rem;
  margin-top: 7px;
  border-radius: 7px;
  outline: 0;
  border: 1px solid #c7cdd4;
  border-radius: 0.375rem;
  box-sizing: border-box;
}

.Login form input:focus {
  outline: none;
  border-color: #696cff !important;
}

.Login form label {
  display: block;
  text-align: left;
  font-weight: bold;
  color: #4f4d4d;
  cursor: pointer;
}

.Login .sign-in {
  display: block;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(57 42 88) 0%, rgb(68 79 116) 100%);
  color: white;
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgb(39 49 83);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}

.Login .sign-in:hover {
  transform: translateY(5px);
  background: linear-gradient(to bottom, rgb(48 34 76) 0%, rgb(60 72 112) 100%);
}

.Login .check-remember input {
  width: auto;
}

.Login label {
  font-size: 0.9rem;
}

.Login input {
  margin-bottom: 15px;
}
.Login input[type="password"] {
  /* margin-bottom: 8px; */
}

.Login input[type="checkbox"] {
  margin-right: 5px;
}

button[disabled] {
  background: linear-gradient(
    to bottom,
    rgb(196 200 203) 0%,
    rgb(154 154 154) 100%
  ) !important;
  cursor: default !important;
  border-bottom: 4px solid rgb(142 145 146) !important;
}
button[disabled]:hover {
  transform: translateY(0) !important;
}
.create-account-wrap {
  text-align: center;
  margin-top: 1rem;
}
.create-account {
  color: #696cff;
}

/* ***********************LoginInfo 페이지************************* */
.logininfo {
  text-align: center;
  background-color: #ededed;
  padding: 5rem;
  border-radius: 15px;

  width: 19%;
}

.logininfo .member {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 6rem;
}

.logininfo button {
  margin: 0 auto;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  width: 49%;
  cursor: pointer;
  height: 45px;
  line-height: 44px;

  background: linear-gradient(to bottom, rgb(57 42 88) 0%, rgb(68 79 116) 100%);
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgb(39 49 83);
}

.logininfo button:first-child {
  margin-right: 1%;
}

/* .combine-menu */
.combine-menu {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
}

.combine-menu .login {
}

.combine-menu .profile {
  color: #fff;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}
.combine-menu .profile .profile-name {
  text-shadow: 0 0 4px #fed22c;
  animation: flicker 1.5s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.combine-menu .profile .name img {
  vertical-align: sub;
  margin-right: 5px;
}

@keyframes flicker {
  /* 0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 20px rgb(241, 255, 43);
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    } */
  50% {
    /* opacity: 0; */
    text-shadow: none;
  }
}

.combine-menu {
  width: 100%;
  background-color: #282828;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
}

.combine-menu .login {
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

.combine-menu .login:hover {
  color: #f6c50b;
}

.combine-menu .logo {
  width: 4%;
}

.appear {
  display: block;
}

.disappear {
  display: none;
}

/* loading */
.loading {
  font-size: 5rem;
}

.pokemon-search {
  text-align: center;
  margin-top: 3rem;
}

.pokemon-search label {
  margin-left: 1rem;
  font-weight: bold;
  color: #5e5534;
}

.pokemon-search input {
  width: 220px;
}
.pokemon-search select {
  width: 80px;
}

.pokemon-search input,
.pokemon-search select {
  margin-left: 7px;
  border-radius: 5px;
  border: 1px solid #8d8d8d;
  height: 40px;
  background-color: #fffbf0;
  color: #000;
}
